body{
  background-color: #FFFFCC;
}
#content{
  margin: 5px;
}
[class*="col-"] {
  width: 100%;
  padding: 15px;
}
@media only screen and (min-width: 768px) {
  [class*="col-"] {
  float: left;
  padding: 15px;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#koptekst{
  font-family: 'Hina Mincho', serif;
  background-image: url(../afbeeldingen/midwolda.jpg);
  background-color: #FFFFCC;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: center;
  color: #FFFFCC;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
#attracties{
  background-color: #999999;
}
#foto_1{
  padding: 10px;
  width: 40%;
  height: 40%;
  float: right;
}
#foto_2{
  padding: 10px;
  width: 30%;
  height: 30%;
  float: right;
}
#footer{
  padding: 10px;
}
#artikel_2{
  clear: right;
}
#kolom{
  clear: right;
}
